<!-- templates/users.html -->

{% extends "airbnb_op_layout.html" %} {% block title %}
<title>Users Page</title>
{% endblock %} {% block content %}

<h2>Welcome to the Users Page</h2>

<h3>{{ message }}</h3>

{% if users %}
<ol>
    {% for user in users %}
    <li>{{ user['name'] }}
        <ul>
            {% for listing in (user['listings']|sort(reverse=true,attribute='id'))[:5] %}
            <li>{{ listing['name'] }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ol>

{% else %}
<p>Users not found.</p>
{% endif %}

<form action="/listings/update" method="POST">
    <button>Update Listings</button>
</form>

{% endblock %}