<!-- templates/users.html -->

{% extends "airbnb_op_layout.html" %} {% block title %}
<title>Users Page</title>
{% endblock %} {% block content %}

<h2>Welcome to the Users Page</h2>

<h3>{{ message }}</h3>

{% if users %}
<ol>
    {% for user in users %}
    <li>{{ user['name'] }}
        <ol>
            {% for listing in (user['listings']|sort(reverse=true,attribute='id'))[:5] %}
            <li>{{ listing['name'] }}
                <ul>
                    <li>{{ listing['location'] }}</li>
                    <li>{{ listing['property_type'] }}</li>
                    <li>{{ listing['room_type'] }}</li>
                    <li>{{ listing['min_nights'] }}</li>
                    <li>{{ listing['price'] }}</li>
                </ul>
                <form action="/listings/edit" method="POST">
                    <button name="listing" value={{ listing[ 'id'] }}>Edit Listing</button>
                </form>
                <form action="/listings/delete" method="POST">
                    <button name="listing" value={{ listing[ 'id'] }}>Delete Listing</button>
                </form>
            </li>
            {% endfor %}
        </ol>
        <form action="/listings/add" method="POST">
            <button name="user" value={{ user[ 'id']}}>Add Listing</button>
        </form>
    </li>
    {% endfor %}
</ol>

{% else %}
<p>Users not found.</p>
{% endif %}

<form action="/listings/update" method="POST">
    <button>Update Listings</button>
</form>

{% endblock %}