[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
blis = "*"
catalogue = "*"
certifi = "*"
chardet = "*"
click = "*"
cymem = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl"}
gunicorn = "*"
idna = "*"
itsdangerous = "*"
joblib = "*"
murmurhash = "*"
numpy = "*"
oauthlib = "*"
pathy = "*"
preshed = "*"
psycopg2 = "*"
pydantic = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
requests-oauthlib = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
smart-open = "*"
spacy-legacy = "*"
spacy = "*"
srsly = "*"
thinc = "*"
threadpoolctl = "*"
tqdm = "*"
tweepy = "*"
typer = "*"
urllib3 = "*"
wasabi = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PySocks = "*"
SQLAlchemy = "*"
Werkzeug = "*"
py-openaq = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
